
body {
    font-family: Poppins;
    display: flex;
    flex-direction: row;
    background: #ffffff;
    margin: 0;
    height: 100vh;
}

.sidebar {
    width: 20%;
}

main {
    background: transparent;
    width: 80%;
    height: 100%;
}

.calendario {
    background: transparent;
    height: 100%;
}

nav {
    padding: 15px;
}

.mes {
    width: 200px;
    background: transparent;
    color: #000;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.mes span {
    font-weight: 400;
}

.dias-semana, .dias {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.dias-semana div, .dias div {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.dias {
    height: 100%;
}

.dias div {
    min-height: 80px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    border: 1px solid #ddd;
    color: #777;
}

.vacio {
    background: #f9f9f9;
    border: none;
}